
<div class="wrapper">
  <header>
    <div align="left">

      <img src="images/headshot.jpg" height="300" width="300">
    </div>
    <h1>Rayan Sud</h1>
    <p></p>
    <p style="color:#6f777d;font-weight:bold">Stanford University (BS '22, MS '22)</p>

    <p></p>

    <p>I am currently a Predoctoral Research Associate at the Development Innovation Lab at the University of Chicago. I have interests in energy, environment, and climate economics, structural transformation and growth, political economy, industrial organisation, and regulatory economics.</i> </p>

    <hr width="70%">


    <div class="is-container-row is-center">
      <div class="is-inset-8"><a href="https://github.com/rayansud" class="is-icon"><i class="fab fa-github fa-2x"></i></a></div>
      <div class="is-inset-8"><a href="https://scholar.google.com/citations?user=vW1vyBAAAAAJ&hl=en" class="is-icon"><i class="ai ai-google-scholar ai-2x"></i></a></div>
    </div>

    <br>


    <p>
      rayansud [at] alumni [dot] stanford [dot] edu
    </p>




  </header>
</div>
